@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Peristeri, Attika, Greece<br />
    <a href="https://www.linkedin.com/in/petros-sarantakos/">LinkedIn</a><br />
    <a href="https://github.com/PetrosSarantakos">GitHub</a><br />
    <a href="mailto:sarantakos.petros@gmail.com">Send me an E-mail</a><br />
</address>
